* {
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
}
html {
	font-family: roboto, arial, sans-serif;
	color: #222;
	font-size: 10px;
}
/* .clearfix {
	content: '';
	display: block;
	clear: both;
} */
.board {
	width: 400px;
	border: 3px solid black;
	margin: 100px auto 0;
	font-size: 0;
}
.board div {
	display: inline-block;
	width: 80px;
	height: 80px;
}

.board div:nth-child(even) {
	background-color: #000;
}
h1 {
	text-align: center;
	margin: 25px 0;
}
